/* Container */

.acf-section-styles-container {
	display: flex;
	flex-direction: row;
}

/* Box Model */
.acf-field .acf-label.pb-margin-top{
  margin: 10px 0;
}
.acf-section-styles-box-model {
	flex: 0 1 50%;
	margin: 0 50px 0 0;
	width: 50%;
}

.acf-section-styles-box-model label {
	position: absolute;
	top: 5px;
	left: 5px;
	line-height: 1;
	margin: 0;
}
.acf-section-width-options{
	margin-bottom:15px;
}
.acf-section-width-options label{
	position: relative;
}
.acf-section-styles-box-model input {
	position: absolute;
	width: 50px;
	height: 28px;
	text-align: center;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-sizing: border-box;
	padding: 3px 5px;
	resize: none;
	margin: 0;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.4;
	background-color: #fff;
	color: #32373c;
	outline: 0;
	transition: 50ms border-color ease-in-out;
}

.acf-section-styles-box-model input:focus {
	border-color: #5b9dd9;
	box-shadow: 0 0 2px rgba(30,140,190,.8);
}

.acf-field .acf-section-styles-container .top {
	top: 5px;
	left: 50%;
	margin: 0 0 0 -25px;
}

.acf-field .acf-section-styles-container .right {
	top: 50%;
	right: 5px;
	margin: -14px 0 0 0;
}

.acf-field .acf-section-styles-container .bottom {
	bottom: 5px;
	left: 50%;
	margin: 0 0 0 -25px;
}

.acf-field .acf-section-styles-container .left {
	top: 50%;
	left: 5px;
	margin: -14px 0 0 0;
}

.acf-section-styles-margin {
	border: 1px dashed #ccc;
}

.acf-section-styles-border {
	background: #f9f9f9;
}

.acf-section-styles-padding {
	background: #eee;
}

.acf-section-styles-container .acf-section-style-param {
	position: relative;
	padding: 50px 175px;
	box-sizing: border-box;
}

.acf-section-styles-container .acf-section-styles-padding {
	padding: 50px 60px;
}

.acf-field select.select-gui{
	position: absolute;
	width: 150px;
	height: 28px;
	text-align: center;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-sizing: border-box;
	padding: 3px 5px;
	resize: none;
	margin: 0;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.4;
	background-color: #fff;
	color: #32373c;
	outline: 0;
	transition: 50ms border-color ease-in-out;
}
/* Style Options */

.acf-section-styles-options {
	flex: 0 1 50%;
	margin: 0 50px 0 0;
	width: 50%;
}
.acf-section-styles-options-inner-container{
	display: flex;
	flex-direction: row;
}
.acf-section-styles-options-inner{
	flex: 0 1 50%;
	margin: 0 50px 0 0;
	width: 50%;
}
.acf-section-styles-options label {
	display: block;
}

.acf-section-styles-background-image-preview-container {
	display: inline-block;
}

.acf-section-styles-background-image-container img {
	display: block;
	max-width: 100%;
	height: auto;
}

.acf-section-styles-background-color-container,
.acf-section-styles-background-image-container,
.acf-section-styles-background-style-container,
.acf-section-styles-background-position-container {
	clear: both;
	padding: 15px 0 0;
}

.acf-section-styles-input-row:after {
  content: "";
  display: table;
  clear: both;
}

.acf-section-styles-input-col-half {
	float: left;
	margin: 0 4% 0 0;
	width: 48%;
}

.acf-section-styles-input-col-half:last-child {
	margin-right: 0;
}

@media only screen and (max-width: 550px), (min-width: 850px) and (max-width: 1050px) {
	.acf-section-styles-box-model {
		width: 400px;
	}

	.acf-section-styles-box-model .acf-label label {
		font-size: 11px;
	}

	.acf-section-styles-box-model input {
		width: 40px;
	}
}

@media only screen and (max-width: 1200px) {
	.acf-section-styles-container {
		flex-direction: column;
	}

	.acf-section-styles-border-color-container {
		margin: 15px 0 0;
	}

	.acf-section-styles-border-color-container,
	.acf-section-styles-border-style-container {
		float: none;
		width: 100%;
	}

	.acf-section-styles-box-model {
		flex: 1;
		margin: 0 auto 25px;
	}
}

@media only screen and (max-width: 1600px) {
	.acf-table .acf-section-styles-container {
		flex-direction: column;
	}

	.acf-table .acf-section-styles-border-color-container {
		margin: 15px 0 0;
	}

	.acf-table .acf-section-styles-border-color-container,
	.acf-table .acf-section-styles-border-style-container {
		float: none;
		width: 100%;
	}

	.acf-table	.acf-section-styles-box-model {
		flex: 1;
		margin: 0 auto 25px;
	}
}

@media only screen and (max-width: 1300px) {
	.acf-table .acf-section-styles-box-model {
		width: 400px;
	}

	.acf-table .acf-section-styles-box-model .acf-label label {
		font-size: 11px;
	}

	.acf-table .acf-section-styles-box-model input {
		width: 40px;
	}
}

@media only screen and (min-width: 850px) and (max-width: 1300px) {
	.acf-table .acf-section-styles-box-model {
		width: 300px;
	}

	.acf-table .acf-section-styles-container .acf-section-style-param {
		padding: 30px 30px 40px;
	}

	.acf-table .acf-section-styles-box-model .acf-label label {
		font-size: 10px;
	}

	.acf-table .acf-section-styles-box-model input {
		font-size: 12px;
		width: 30px;
	}
}

.field_type-flexible_content .field_type-flexible_content .acf-flexible-content .layout .acf-input-table{
	display: none;
}

.openModal{
	position: fixed !important;
	z-index: 30001;
	top: 50px !important;
	left: 50% !important;
	margin-left: -400px !important;
	max-height: 80%;
	overflow: auto;
	max-width: 800px;
}


.field_type-flexible_content .field_type-flexible_content .acf-flexible-content .layout .acf-input-table .acf-input-table{

	display: table;
	position: relative;
	top: auto;
	left: auto;
	margin-left: 0px;
}


.acf-layout-modal-clickmask{
	content: " ";
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.6);
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
	z-index: 30000;
}
.acf-field-flexible-content.grid_sections .values{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}
.acf-field-flexible-content.grid_sections .values .acf-fc-layout-handle{
  background: rgba(173, 216, 230, 0.5);
}
.acf-field-flexible-content.grid_sections .values .acf-fc-layout-controlls a:first-child,
.acf-field-flexible-content.grid_sections .values .acf-fc-layout-controlls a:last-child{
	display:none;
}
.acf-field-flexible-content.grid_sections .values .full_width{
	width:100%;
}
.acf-field-flexible-content.grid_sections .values .one_tenth_width{
	width:9%;
}
.acf-field-flexible-content.grid_sections .values .one_sixth_width{
	width:15%;
}
.acf-field-flexible-content.grid_sections .values .one_fifth_width{
	width:19%;
}
.acf-field-flexible-content.grid_sections .values .one_forth_width{
	width:24%;
}
.acf-field-flexible-content.grid_sections .values .three_tenths_width{
	width:29%;
}
.acf-field-flexible-content.grid_sections .values .one_third_width{
	width:32%;
}
.acf-field-flexible-content.grid_sections .values .two_fifths_width{
	width:39%;
}
.acf-field-flexible-content.grid_sections .values .one_half_width{
	width:49%;
}
.acf-field-flexible-content.grid_sections .values .three_fifths_width{
	width:59%;
}
.acf-field-flexible-content.grid_sections .values .two_thirds_width{
	width:65%;
}
.acf-field-flexible-content.grid_sections .values .seven_tenths_width{
	width:69%;
}
.acf-field-flexible-content.grid_sections .values .three_forths_width{
	width:74%;
}
.acf-field-flexible-content.grid_sections .values .four_fifths_width{
	width:79%;
}
.acf-field-flexible-content.grid_sections .values .five_sixths_width{
	width:82%;
}
.acf-field-flexible-content.grid_sections .values .nine_tenths_width{
	width:89%;
}

.acf-field-flexible-content.grid_sections .acf-flexible-content .layout:first-child{
	margin:20px 10px 20px 0px;
}

.acf-field-flexible-content.grid_sections .acf-flexible-content .layout:last-child{
	margin:20px 10px 20px 0px;
}

.acf-field-flexible-content.grid_sections .acf-flexible-content .layout{
	margin:20px 10px 20px 0px;
}
